@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins" ;
}
body,html{
    width: 100%;
    height: 100%;
    
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% 50%);
    width: 56px;
    height: 56px;
    z-index: 9999;
 }
 
 .spinner::before,
 .spinner::after {
    content: '';
    width: 100%;
    height: 100%;
    animation: spinner-rfi6tk 1s infinite linear;
    box-sizing: border-box;
    border: 11.2px solid rgba(71,75,255,0.1);
    border-radius: 50%;
    position: absolute;
 }
 
 .spinner::before {
    animation-direction: reverse;
    border-right-color: #474bff;
    right: calc(50% - 5.6px);
 }
 
 .spinner::after {
    border-left-color: #474bff;
    left: calc(50% - 5.6px);
 }
 
 @keyframes spinner-rfi6tk {
    0% {
       transform: rotate(0deg);
    }
 
    50%, 100% {
       transform: rotate(360deg);
    }
 }
.main-home-section{
    height: auto;
    width: 100%;
    padding:0 0 1vw 0;
}
.extra{
    position: absolute;
    top: 0;
    left: 0;
    height: 80vw;
    width: 50vw;
    background-color: rgb(255, 255, 255);
    z-index: 11;
    
}
.Nextextra{
    position: absolute;
    top: 0;
    right: 0;
    height: 80vw;
    width: 50vw;
    background-color: rgb(255, 255, 255);
    z-index: 11; 
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw;
    background-color: #081A28;
}
.logo{
    margin: 0 0 0 4vw;
    font-size: 1.5vw;
    font-weight: 700;
    color: #ffffff;
}
.header-span{
    color: #9FFF02;
}
.header-btn{
    margin: 0 4vw 0 0;
    background-color: #9FFF02;
    padding: 0.9vw 2vw;
    font-size: 1vw;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0.7vw;
}
nav{
    display: flex;

}
nav li{
    list-style: none;
    padding: 0.5vw 1vw;
    margin: 0 1vw;
}
nav li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
    position: relative;
    font-size: 1vw;
}


.Home-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6vw 1vw;
    background-color: #081A28;
    position: relative;
}
.main-h1{
    color: #DADADA;
    font-size: 4vw;
    width: 60%;
}
.pasag{
    color: #DADADA;
    font-size: 1.1vw;
    width: 40%;
}
.all-students{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    position: relative;
}
.students-img{
    height: 2.6vw;
}
.students-img:nth-child(2){
position: absolute;
top: 1vw;
left: 2.5vw;
}
.students-img:nth-child(3){
    position: absolute;
    top: 1vw;
    left: 3.8vw;
    }
    .students-img:nth-child(4){
        position: absolute;
        top: 1vw;
        left: 5.3vw;
        }
.students-text{
    font-size: 1vw;
    color: #9FFF02;
    margin: 0 5vw;
}
.two-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 0;
}
.getstarted{
    background-color: #9FFF02;
    padding: 0.9vw 3vw;
    font-size: 1vw;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0 1vw;
    border-radius: 0.5vw;
}
.getstarted:nth-child(2){
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid #9FFF02;
    color: #DADADA;
    padding: 0.9vw 1vw;
}
.home-btn{
    height: 1.5vw;
    margin: 0 0.5vw;
}
.main-home-hover-images{
    position: absolute;
    height: 8vw;
}
.main-home-hover-images:nth-child(1){
    top: 15vw;
    left: 24vw;
}

.main-home-hover-images:nth-child(2){
    top: 20vw;
    right: 20vw;
}
.main-home-hover-images:nth-child(3){
    bottom: -3vw;
    left: 47vw;
    z-index: 1;
}


.header-foooter{
    display: flex;
    justify-content: space-around;
    padding: 1vw;
    width: 100%;
    background-image: url("/images/bg.png");
    background-size: 100%;
    height: 25vw;
    position: relative;
   
}
.four-images{
    height: 30vw;
    border-radius: 20vw;
    box-shadow: 15px 10px 63px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 15px 10px 63px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 10px 63px -3px rgba(0,0,0,0.75);
    position: relative;
}
.four-images:nth-child(1){
    position: absolute; 
    top: -8vw;
    left:5vw;
}
.four-images:nth-child(2){
    position: absolute; 
    top: 5vw;
    left:28vw;
}
.four-images:nth-child(3){
    position: absolute; 
    top: 5vw;
    right:28vw;
}
.four-images:nth-child(4){
    position: absolute; 
    top: -8vw;
    right:5vw;
}

/* css for abous us page */
.about-us-section{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 15vw 1vw 1vw 2vw;
}
.left{
    width: 50%;
    padding: 1vw;
    position: relative;
}
.hover-images{
    position: absolute;
    height: 10vw;
    top: 3vw;
    right: -11vw;
    transform: rotate(75deg);
}
.about-heading{
    font-size: 3vw;
    text-transform: capitalize;
}
.about-pasag{
    font-size: 1vw;
}
.all-topic{
    margin: 1vw 0;
    padding: 1vw;
}
.list-topic{
    list-style-type: none;
    font-weight: 600;
    font-size: 1.3vw;
}
.about-inner{
    font-size: 1vw;
    padding: 1vw 0;
}
.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-images{
    height: 39vw;
    width: 60%;
    border-top-left-radius: 20vw;
    border-top-right-radius: 20vw;
}


/*course css start here */
.course{
    width: 100%;
    background-color: #081A28;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5vw 0;
}
.two-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vw 1.9vw;
    position: relative;
}
.two-text h1{
    width: 40%;
    font-size: 3vw;
    color: #DADADA;
}
.three-line{
    position: absolute;
    top: 2.5vw;
    left: 32vw;
    height: 4vw;
}
.two-text p{
    width: 50%;
    color: #DADADA;
    font-size: 1vw;
}
.all-course-list{
 padding: 1vw 4vw;
    display: flex;
    gap: 1vw;

}
.one-course{
    background-color: #DADADA;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1vw;
    cursor: pointer;
}
figcaption{
    font-size: 1.2vw;
    font-weight: 600;
}
.one-course p{
    font-size: 0.9vw;
    color: #111111;
}
.course-images{
    overflow: hidden;
    
}
.course-main-images{
    height: 12vw;
    transition: 1s all ease-in-out;
    
}
.one-course:hover .course-main-images{
    transform: scale(1.1);
}

.course-tutor{
    display: flex;
    justify-content: start;
    align-items:center;
    width: 100%;
    margin: 1vw 0;
}
.course-tutor img{
    height: 2vw;
}
.course-tutor h5{
    margin: 0 1vw;
    font-weight: 500;
    font-size: 0.9vw;
}

/* faq section css */
.faq-section{
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq-question{
    font-size: 2vw;
}
details{
    width: 80%;
    margin: 1vw 0;
    padding: 1vw;
    cursor: pointer;
   
    font-weight: 600;
}
summary{
    font-size: 1.4vw;
}
.explain{
    padding: 0.8vw;
    font-size: 0.9vw;
    background-color: #DADADA;
}

/* subscribe css */
.subscribe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vw 0;
}
.all-sub-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 20vw;
    background-image: linear-gradient(to right top, #081a28, #11141f, #120d16, #0d060b, #000000);
}
.all-sub-text h1{
    font-size: 2vw;
    color: #DADADA;
    margin: 1vw 0;
}
.all-sub-text p{
    color: #e2e2e2;
    font-size: 1vw;
    width:70%;
    margin: 1vw 0;
}
.input-type{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
input[type=text]{
    padding: 1vw;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.4vw;
}
.btn-for-subscribe{
    background-color: #9FFF02;
    padding: 0.9vw 3vw;
    font-size: 1vw;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0 1vw;
    border-radius: 0.5vw;
}

/* footer css */

.footer-content{
   width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr;
    justify-content: center;
    align-items:start;
    text-align: start;
    gap: 40px;
    padding: 3rem 4rem;}

footer{
    width:100%;
    background-color: #081A28;
}
    .all-footer{
            padding: 1rem;
        }
    .all-footer h4{
                margin: 0.5rem 0;
                font-size: 1.4vw;
                color: #ffffff;
             }
          .all-footer li{
            list-style-type:none;
            margin: 0.3rem 0;
            color:#e2e2e2;
         font-size: 1vw;
        }
     
    .copyright{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 3rem;
        color: #9FFF02;
        font-size: 1vw;

    }
        .policy a{
                text-decoration:none;
                margin: 0 0.5rem;
                color: #111010;
                font-size: 1vw;
                color: #ffffff;
            }

            .footer-pasag{
                color: #ffffff;
                font-size: 1vw;
            }
            
        
