*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
 
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #FFFCF5;
}
.main{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0;
}
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 0 3vw;
}
.logo-main-img{
    height: 2.5vw;
}
.logo-text{
    font-size: 1.1vw;
    margin:0 0 0 1vw; 
    font-weight:700;
}
nav{
    display: flex;
}
nav a{
    text-decoration: none;
    margin: 0 1vw;
    font-size: 1vw;
    color: #000000;
}

.header-btn{
    padding: 1.1vw 2.2vw;
    border-radius: 0.2vw;
    color: rgb(251, 251, 251);
    font-size: 1vw;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #2AC910;
    margin: 0 3vw 0 0;
}
.main-home{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:2vw ;
}
.left{
    width: 50%;
    padding: 0 2vw;
    position: relative;
    
}
.hover-pic{
    position: absolute;
    top: -4vw;
    right: 0;
    height: 40vw;

}
.main-text-h1{
    font-size: 3.2vw;
}
.main-pasag{
    font-size: 0.9vw;
    width: 80%;
    margin: 1vw 0 0 0;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vw;
    padding: 1vw 1vw;
    background-color: #ffffffc9;
    margin: 2.5vw 0 0 0;
    z-index: 1;
    position: relative;
}
.search-btn{
    padding: 1.1vw 2vw;
    border-radius: 0.2vw;
    color: rgb(251, 251, 251);
    font-size: 1vw;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #2AC910;
    margin: 2.2vw 0 0 0;
}
.destination h4{
    font-size: 0.9vw;
    color: #646464;
    margin: 0.5vw 0;
}
input[type="text"], input[type="date"]{
    padding: 1.1vw;
    font-size: 0.8vw;
    outline: none;
    border-radius: 0.2vw;
    border: 0.1vw solid #646464;
}
.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    height: 40vw;
}




/* css for about-section */
.all-plane-about{
    width: 100%;
    height: auto;
    padding: 3vw 0;
}
.all-about-content{
    width: 100%;
    display: flex;
    padding: 1vw 3vw;
}
.one-text{
    width: 30%;
}
.one-text h1{
    font-size: 2.5vw;
}
.all-three-box{
    display: flex;
    gap: 0.9vw;
    width: 70%;
}
.one-box{
    background-color: #ffffff;
    padding: 1vw;
}
.text-and-images{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    
}
.text-and-images h3{
    font-size: 1.2vw;
}
.about-pasag{
    font-size: 1vw;
    padding: 0.5vw 0;
}
.text-and-images img{
    height: 4vw;
    background-color: #F85B03;
    padding: 0.3vw;
    border-radius: 10vw;
}



/* place-images css start here */
.place-images{
    margin: 3vw 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1vw 0;
    
}
.plane-all-images{
    height: 8vw;
    width: 100%;
    object-fit: cover;
    margin: 0 1.5vw;
}


/* Explore Top Domestic Destination */

.place-section{
    width: 100%;
    padding: 1vw 0.5;
}
.place-text{
    padding: 1vw 0 4vw 3.4vw;
}
.place-pasag{
    font-size: 1.5vw;
    color: #F85B03;
}
.place-h1{
    font-size: 2vw;
}
.all-domestic-place{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.2vw 2vw;
}
.all-content{
    background-color: #ffffff;
    margin: 0 1vw;
    padding: 0.5vw;
}
.two-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 0;
}
.Review{
    font-size: 1vw;
}
.Review span{
    color: #F85B03;
}
.main-place-images{
width: 100%;
height: 14vw;
border-radius: 0.3vw;
}
figcaption{
    font-size: 1vw;
    font-weight: 600;
    color: #F85B03;
}
article{
    font-size: 0.9vw;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 0;
}
.price{
    font-size: 1vw;
    margin: 0.5vw 0;
}
.view{
    padding: 0.5vw 1vw;
    font-size: 0.9vw;
    background-color: #2AC910;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
}
.trip{
    font-size: 0.9vw;
}



/* International Destination-sectin css start here */
.Destination-sectin{
    width: 100%;
    padding: 5vw 0;
}
.dest-text{
   padding: 2vw 0;
    text-align: center;
}
.dest-pasag{
    font-size: 1.5vw;
    color: #F85B03;
}
.h1-dest{
    font-size: 2.5vw;
}
.all-dest-images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3vw;
}
.all-dest-images img{
    border-radius: 0.3vw;
}
.one-images-dest{
    width: 33%;
    padding: 1vw;
    position: relative;
}
.one-fig-caption{
    position: absolute;
    bottom: 26vw;
    left: 1vw;
    color: #000000;
    font-size: 1.2vw;
    background-color:#fffaf3;
    padding: 1vw 2vw;
    border-top-right-radius: 1vw;
    
}
.hover-text{
    position: absolute;
    bottom: 23vw;
    left: 1vw;
    color: #000000;
    font-size: 1vw;
    background-color:#fffaf3;
    padding: 1vw;
    border-top-right-radius: 1vw;
}
.one-fig-caption:nth-child(2){
    position: absolute;
    bottom: 4vw;
    left: 1vw;
    color: #000000;
    font-size: 1.2vw;
}
.hover-text:nth-child(3){
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    color: #000000;
    font-size: 1vw;
}

.center-fig-caption{
    position: absolute;
    bottom: 4vw;
    left: -0.5vw;
    color: #000000;
    font-size: 1vw;
    background-color: #fffaf3;
    padding: 0.5vw;
    border-top-right-radius: 1vw;
}
.hover-text-center{
    position: absolute;
    bottom: 2vw;
    left: -0.5vw;
    color: #000000;
    font-size: 1vw;
    background-color: #fffaf3;
    padding: 0.5vw;
    border-top-right-radius: 1vw;
}
.imp-fig-caption{
    position: absolute;
    bottom: 4.5vw;
    left: 0vw;
    color: #000000;
    font-size: 1vw;
    background-color: #fffaf3;
    padding: 0.5vw;
    border-top-right-radius: 1vw; 
}
.imp-text-center{
    position: absolute;
    bottom: 2vw;
    left: 0vw;
    color: #000000;
    font-size: 1vw;
    background-color: #fffaf3;
    padding: 0.5vw;
    border-top-right-radius: 1vw;  
}
.right-fig-caption{
    position: absolute;
    bottom: 4vw;
    left: 14vw;
    color: #000000;
    font-size: 1vw;
    background-color: #fffaf3;
    padding: 0.5vw;
    border-top-right-radius: 1vw;   
}
.right-text-center{
    position: absolute;
    bottom: 1.5vw;
    left:14vw;
    color: #000000;
    font-size: 1vw;
    background-color: #fffaf3;
    padding: 0.5vw;
    border-top-right-radius: 1vw; 
}
.last-fig-caption{
    position: absolute;
    bottom: 23vw;
    left: 1vw;
    background-color:#fffaf3;
    color: #000000;
    padding: 1vw;
    font-size: 1.2vw; 
    border-top-right-radius: 1vw;
}
.hover-text-last{
    position: absolute;
    bottom: 20vw;
    left: 1vw;
    background-color:#fffaf3;
    color: #000000;
    font-size: 1vw;
    padding: 1vw;
    border-top-right-radius: 1vw;   
}
.last-fig-caption:nth-child(2){
    position: absolute;
    bottom: 6vw;
    left: 1vw;
    background-color:#fffaf3;
    color: #000000;
    font-size: 1vw;
    padding: 1vw;
    border-top-right-radius: 1vw; 
}

.hover-text-last:nth-child(3){
    position: absolute;
    bottom: 3vw;
    left: 1vw;
    background-color:#fffaf3;
    color: #000000;
    font-size: 1vw;
    padding: 1vw;
    border-top-right-radius: 1vw;   
}


.one-images-dest img{
    width: 100%;
}
.two-img-dest{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    position: relative;
}
.right-side-img{
    height: 40vw;
    width: 100%;
    object-fit: cover;
}
.rigth-next-img{
    height: 20vw;
    width: 100%;
    object-fit: cover;
}
.center-images{
    height: 18vw;
    width: 100%;
    object-fit: cover;
}
.center-images-next{
    height: 18vw;
    width: 100%;
    object-fit: cover;
}
.imp-images{
    padding: 1vw 0 0 0;
}
.center-last{
    height: 19vw;
    width: 100%;
    object-fit: cover;
}

.last-images{
    height: 38vw;
    width: 100%;
    object-fit: cover; 
}
.last-next-images{
    height: 16vw;
    width: 100%;
    object-fit: cover; 
}




/* why-choose-us-section css start here */
.why-choose-us-section{
    width: 100%;
    height: 70vw;
}
.choose-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2vw 1vw;
}
.choose-text p{
    font-size: 1.5vw;
    color: #F85B03;
}
.choose-text h1{
    font-size:2.5vw;
    width: 50%;
    text-align: center;
}
.two{
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
}
.chooose-one{
    font-size: 1.2vw;
}
.chooose-pasag{
    font-size: 0.8vw;
}
.one-describe{
    width: 40%;
    padding: 1vw;
}
.one-last-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    
}
.last-span{
    font-size: 23vw;
    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-text-stroke: 1px #2AC910; 
    color: #FFFCF5; 
}
.last-div-images{
height: 40vw;
z-index: 1;
position: absolute;
top: -4vw;
}

/* subscribe css start here*/

.subscribe{
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.subscribe::after{
    content: "";
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgb(10, 5, 46) 100%); 
}
.text-subscribe{
    position: absolute;
    z-index: 1;

}
.sub-images{
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
.text-subscribe h1{
font-size: 2.5vw;
color: #ffffff;

}
.text-subscribe p{
    font-size: 1.5vw;
    color: #ffffff;
}
.two-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 0;
}

.sub-btn{
    font-size: 1vw;
    padding: 0.91vw 1.5vw;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #2AC910;
    cursor: pointer;
    margin: 0 0 0 1vw;
}
/* footer css start here */

footer{
    display: flex;
    justify-content: space-around;
    padding: 2vw 3vw;
}
.footer-list-anchor{
  display: flex;
  flex-direction: column;
}
.footer-paragraph{
    font-size: 0.9vw;
}
.footer-list-anchor a{
    text-decoration: none;
    font-size: 1vw;
    margin: 0.5vw 0;
    color: #000000;
}
.footer-about{
    width: 22%;
}
.footer-h1{
    font-size: 1.2vw;
    padding: 0.5vw 0;
}
