footer{
    width:100%;
    .footer-content{
        max-width: 1920px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 0.7fr;
        justify-content: center;
        align-items:start;
        text-align: start;
        gap: 40px;
        padding: 3rem 4rem;
        .all-footer{
            padding: 1rem;
            h4{
                margin: 0.5rem 0;
                font-size: 1.3rem;
            }
           li{
            list-style-type:none;
            margin: 0.3rem 0;
            color:#252222;
            font-size: 1.1rem;

        }
        }
    }
    .copyright{
        display: flex;
        justify-content: space-between;
        max-width: 1920px;
        margin: 0 auto;
        padding: 3rem;
        .policy{
            a{
                text-decoration:none;
                margin: 0 0.5rem;
                color: #111010;
            }
            
        }
    }

}