*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    text-align: center;
}
.card{
    width: 25%;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}
p{
    font-size: 13px;
    margin: 1rem 0;
}
.card img{
height: 50%;
width: 100%;
object-fit: cover;
object-position: center;
border-radius: 10px;
}
.card h1{
    font-size: 20px;
    margin: 10px 0;
}
h5{
    color: #6c6a6a;
    margin: 5px 0;
}
button{
    padding: 12px 18px;
    margin: 5px 5px;
    background: #1d4ed8;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.remover{
    background-color: #bfdbfe;
    color: #000;
}